<footer
  class="absolute h-[46.813rem] w-full bg-[#101428] flex flex-col justify-betweens"
>
  <img
    src="/logo.svg"
    alt="BusinessLogo"
    class="relative left-[15rem] top-0"
    width="237"
  />
  <div
    class="absolute bottom-[37.938rem] right-0 w-[85.188rem] h-[36.438rem] bg-[#F6D200] flex flex-row justify-between items-start"
  >
    <div
      class="flex flex-col justify-between items-start ml-[4.375rem] mt-[7.5rem] gap-[3.125rem] z-10"
    >
      <div class="flex flex-col gap-[1.875rem]">
        <h2 class="text-[3.125rem] text-nowrap">Subscribe Our Newsletter</h2>
        <p class="text-[1.75rem]">Based On Your View History</p>
      </div>
      <div class="relative w-full">
        <!-- Adding a wrapper for the input to position the emoji -->
        <input
          type="email"
          placeholder="Enter your email address...."
          class="w-full pl-[5rem] pr-4 py-4 rounded-lg shadow-md bg-white focus:outline-none focus:ring-2 focus:ring-[#202A54]"
        />
        <!-- Envelope emoji -->
        <img
          class="absolute left-[1.875rem] top-1/2 transform -translate-y-1/2 text-[#F6D200]"
          src="footer/email.svg"
        />
      </div>
      <button
        class="bg-[#202A54] px-11 py-6 rounded-br-xl rounded-tl-xl font-bold spac"
      >
        <p class="text-white tracking-[0.188rem]">SUBSCRIBE</p>
      </button>
    </div>

    <img
      src="footer/handApresentHouse.png"
      alt="hand apresent house"
      class="absolute w-[54.688rem] right-0 z-0"
    />
  </div>
  <div
    class="flex flex-row items-start gap-[12.75rem] text-white text-xl/[2.125rem] mt-[6.938rem]"
  >
    <p class="w-[18.125rem] ml-[15rem]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna.
    </p>
    <div>
      <h2 class="text-[1.75rem]">Information.</h2>
      <ol>
        <li><a href="">About us</a></li>
        <li><a href="">Properties</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Payment</a></li>
        <li><a href="">Blog</a> Post</li>
      </ol>
    </div>
    <div>
      <h2 class="text-[1.75rem]">Support.</h2>
      <ol>
        <li><a href="">Add Property</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Help Line</a></li>
        <li><a href="">Our Agents</a></li>
        <li><a href="">Features</a></li>
      </ol>
    </div>
    <div>
      <h2 class="text-[1.75rem] mb-[1.875rem]">Poppular Properties.</h2>
      <ol class="flex flex-col gap-[1.313rem]">
        <li>
          <a href="" class="flex flex-row gap-[0.938rem]">
            <img src="footer/apartmentRoom.png" alt="" />
            <div>
              <p class="w-[12.313rem]">Amazing Furnished Apartment's</p>
              <p>$15000.00</p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="flex flex-row gap-[0.938rem]">
            <img src="footer/fatherAndDaugher.png" alt="" />
            <div class="w-[12.313rem]">
              <p>Amazing Furnished Apartment's</p>
              <p>$15000.00</p>
            </div>
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div
    class="absolute bottom-0 left-0 bg-[#F6D200] w-[85.188rem] h-[6.688rem] content-start flex flex-row items-center justify-between"
  >
    <p class="ml-[15rem]">
      Copyright © ProFigmaTemplates.com, All Rights Reserved.
    </p>
    <div class="flex flex-row gap gap-5 mr-[4.356rem]">
      <img src="footer/facebook.svg" alt="" />
      <img src="footer/twitter.svg" alt="" />
      <img src="footer/instagram.svg" alt="" />
      <img src="footer/youtube.svg" alt="" />
    </div>
  </div>
</footer>
