<header
  class="absolute w-full h-20 flex justify-center items-center top-0 left-0 z-50"
>
  <img
    src="header/halfOctagon.svg"
    alt=""
    class="absolute -top-1 left-[3.438rem]"
  />
  <nav
    class="bg-white h-full flex flex-row justify-between items-center gap-4 px-5"
  >
    <div class="flex flex-row items-center gap-2.5 mr-[4.063rem]">
      <div
        class="rounded-full bg-[#F6D200] flex justify-center items-center w-12 h-12"
      >
        <img
          src="https://www.svgrepo.com/show/524807/phone.svg"
          alt="cellPhone logo"
          width="30"
          height="30"
        />
      </div>
      <p class="font-bold text-xl ml-2 text-nowrap">800-555-6789</p>
    </div>
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-row gap-[2.688rem]">
        <p class="text-black">Home</p>
        <p>Shop</p>
        <p>About</p>
        <p>Realtor</p>
      </div>
      <div class="flex flex-col items-start mt-16 ml-[2.688rem] mr-[3.125rem]">
        <img src="/logo.svg" alt="BusinessLogo" />
      </div>
      <div class="flex flex-row gap-[2.688rem]">
        <p>Property</p>
        <p>Page</p>
        <p>Contact</p>
      </div>
    </div>
    <div class="flex flex-row items-center gap-4 ml-[1.875rem]">
      <div
        class="w-12 h-12 min-w-12 min-h-12 bg-[#F6D200] rounded-full flex justify-center items-center"
      >
        <img src="/profile.svg" alt="avatarIcon" />
      </div>
      <button
        class="bg-[#F6D200] px-11 py-3 mr-[1.25rem] text-nowrap rounded-br-xl rounded-tl-xl hover:rounded-br-[0] hover:rounded-tl-[0] hover:rounded-bl-xl hover:rounded-tr-xl transition-all"
      >
        Add Listing
      </button>
    </div>
  </nav>
</header>
