<div class="shadowContainer w-[20.813rem] flex flex-col justify-start">
  <div
    class="w-[20.813rem] flex flex-row justify-center items-center text-base"
  >
    <p
      class="w-full h-[3.313rem] rounded-tl-full bg-[#F6D200] flex justify-center items-center text-[#202A54]"
    >
      Buy
    </p>
    <p
      class="w-full h-[3.313rem] bg-white flex justify-center items-center text-black"
    >
      Sell
    </p>
    <p
      class="w-full h-[3.313rem] bg-white flex justify-center items-center text-black"
    >
      Rent
    </p>
  </div>

  <form
    class="w-[28.688rem] bg-white text-[#707D95] flex flex-col gap-[1.875rem] py-8 px-[1.875rem] shadowContainer rounded-br-4xl"
  >
    <div class="flex flex-col gap-2.5">
      <p class="text-base">Keyboard</p>
      <input
        class="border-black/10 border-2 w-full h-[3.125rem]"
        type="search"
        value=""
        placeholder="Enter Keywords"
      />
    </div>
    <div class="flex flex-col gap-2.5">
      <p class="text-base">Type</p>
      <input
        class="border-black/10 border-2 w-full h-[3.125rem]"
        type="text"
        name=""
        id=""
        placeholder="All Type"
      />
    </div>
    <div class="flex gap-[0.813rem] w-full h-[3.125rem]">
      <button
        class="flex justify-center items-center text-[#707D95] w-full border-black/10 border-2"
      >
        Icon Advanced
      </button>
      <button
        class="flex justify-center items-center bg-[#F6D200] text-[#0B0F1D] h-[3.125rem] w-full rounded-br-[0.625rem] rounded-tl-[0.625rem] hover:rounded-br-[0] hover:rounded-tl-[0] hover:rounded-bl-[0.625rem] hover:rounded-tr-[0.625rem] transition-all"
      >
        Search
      </button>
    </div>
  </form>
</div>
