<div class="min-h-[158.25rem] z-20">
  <section class="h-[58.25rem]">
    <div class="containerImageHomeTriangle relative h-[58.25rem]">
      <img
        src="home/blueTriangle.svg"
        alt=""
        class="absolute top-0 left-0 z-10"
      />
      <div
        class="absolute top-[14.375rem] left-[15.125rem] flex flex-col gap-[1.563rem] z-20 text-white"
      >
        <p class="text-[2rem]">LET US GUIDE YOUR HOME</p>
        <p class="text-[4.688rem] font-extrabold">Enjoy The Finest Home</p>
        <p class="text-[1.75rem]">
          From As Low as $10 per day with limited time offer discounts.
        </p>
        <app-business-formulary></app-business-formulary>
      </div>
      <img
        src="home/houseFront.png"
        alt=""
        class="absolute top-0 right-0 imageHomeTriangle"
      />
      <div>
        <img
          src="home/imageOfOctagon.png"
          alt=""
          class="absolute right-[31.563rem] bottom-[2.625rem] w-[24.756rem] h-[27.85rem]"
        />
      </div>
      <div class="containerTriangleYellow">
        <img
          src="home/yellowTriangle.svg"
          alt=""
          class="triangleYellow absolute bottom-0 right-0"
        />
        <div
          class="absolute bottom-[1.263rem] right-[0.438rem] flex flex-row gap-[6.25rem]"
        >
          <div>
            <p class="text-[2.5rem] font-bold">620</p>
            <p class="text-[1rem] font-bold">Awward Winning</p>
          </div>
          <div>
            <p class="text-[2.5rem] font-bold">2K+</p>
            <p class="text-[1rem]">Happy Customer</p>
          </div>
          <div>
            <p class="text-[2.5rem] font-bold">500+</p>
            <p class="text-[1rem] font-bold">Property Ready</p>
          </div>
        </div>
      </div>
      <img
        src="home/yeell.svg"
        alt=""
        class="absolute right-[45rem] bottom-[0.938rem]"
      />
      <img
        src="home/octagon.svg"
        alt=""
        class="absolute bottom-[9.938rem] right-[4.75rem]"
      />
    </div>
  </section>
</div>
